


header
{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(f4567.png);
height: 100vh;
background-size: cover;
background-position: center;
}


{
float: right;
list-style: none;
margin-top: 30px
}

.main-nav li
{
display: inline-block;
}

.main-nav li a
{
color: white;
text-decoration: none;
padding: 4px 20px;
font-family: "Roboto"; sans-serif;
  font-size: 15px;
}

.main-nav li.active a
{
  border: 1px solid white;
}

.main-nav li a:hover
{
   border: 1px solid white;
}

.hero
{
position: absolute;
width: 1200px;
margin: 0px;
margin-top: 0px;
}

h1
{
color: white;
text-transform: uppercase
font-size: 70px;
  text-align: center;
  margin-top: 300px;
}
